# ==========================
# Database
# ==========================
DB_HOST=mysql
DB_PORT=3306
DB_NAME=smartcity
DB_USER=root
DB_PASS=
DB_PASSWORD=

# ==========================
# RabbitMQ
# ==========================
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_EXCHANGE=city.events

# ==========================
# MQTT
# ==========================
MQTT_HOST=mosquitto
MQTT_PORT=1883

# ==========================
# Gateway
# ==========================
PORT_GATEWAY=3000
GATEWAY_INTERNAL_SECRET=smartcity_internal_secret
CORS_ORIGIN=*

# ==========================
# OAuth
# ==========================
PORT_AUTH=3002
JWT_ACCESS_SECRET=smartcity_access_secret
JWT_REFRESH_SECRET=smartcity_refresh_secret

# ==========================
# Internal Service URLs
# (Docker service names)
# ==========================
AUTH_SERVICE_URL=http://auth:3002
OAUTH_SERVER_URL=http://auth:3002

CITIZEN_SERVICE_URL=http://citizen-service:8000
AIRQUALITY_SERVICE_URL=http://airquality-service:8001
ENVIRONMENT_SERVICE_URL=http://environment-service:8002
PYTHON_ML_SERVICE_URL=http://python-ml:5000