# API Gateway Environment
NODE_ENV=development
PORT=3000

# Service URLs
OAUTH_SERVER_URL=http://localhost:3002
AUTH_SERVICE_URL=http://localhost:3002
CITIZEN_SERVICE_URL=http://localhost:8000
AIRQUALITY_SERVICE_URL=http://localhost:8001
ENVIRONMENT_SERVICE_URL=http://localhost:8002
PYTHON_ML_SERVICE_URL=http://localhost:5000
JWT_ACCESS_SECRET=Isinya_Terserah
JWT_REFRESH_SECRET=Isinya_Terserah

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Internal Security
GATEWAY_INTERNAL_SECRET=smartcity_internal_secret
