# API Gateway Environment
NODE_ENV=development
PORT=3001

# Service URLs
OAUTH_SERVER_URL=http://localhost:3002
JWT_ACCESS_SECRET=Isinya_Terserah
JWT_REFRESH_SECRET=Isinya_Terserah

# CORS Configuration
CORS_ORIGIN=http://localhost:3001
