# Citizen Service Environment
APP_ENV=development
APP_PORT=8000

# Database
DB_HOST=mysql
DB_NAME=smartcity
DB_USER=root
DB_PASS=

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest