APP_NAME=environment-service
APP_ENV=development

DB_HOST=host.docker.internal
DB_PORT=3307
DB_NAME=smartcity
DB_USER=root
DB_PASS=

RABBITMQ_HOST=host.docker.internal
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

SERVICE_PORT=8002