APP_NAME=environment-service
APP_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=smartcity
DB_USER=root
DB_PASS=

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=city.events

SERVICE_PORT=8002
